body {
  background-color: #000000;
  color: #f2ff11;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.switch-mode {
  height: 42px;
  width: 191px;
  margin-left: 52px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #11fffd;
  border-radius: 5px;
}

.main-text {
  height: 80px;
  width: 354px;
  margin-top: 115px;
  margin-left: 52px;
  margin-bottom: 10px;
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #f2ff11;
}

.secondary-text {
  height: 28px;
  width: 372px;
  margin-top: 10px;
  margin-left: 52px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #f2ff11;
}

.coloured-text {
  color: #11fffd;
}

button {
  height: 42px;
  width: 191px;
  margin-left: 52px;
  margin-top: 51px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #11fffd;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.password-boxes {
  width: 446px;
  margin-top: 35px;
  margin-left: 52px;
  display: inline-flex;
  flex-direction: row;
  gap: 24px;
  border-top: 1px solid #f2ff11;
  font-family: "Inter", sans-serif;
}

#password-box-1 {
  position: relative;
  height: 39px;
  width: 211px;
  border: 1px solid #f2ff11;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
