* {
    background-color: #861388;
}

.main-text {
    height: 80px;
    width: 354px;
    margin-top: 115px;
    margin-left: 52px;
    margin-bottom: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: white;
}

.secondary-text {
    height: 28px;
    width: 372px;
    margin-top: 10px;
    margin-left: 52px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}


.coloured-text {
   color: #E15A97 
}